- var projectId = "papatoriautoengagement"
- var domain = process.env.NODE_ENV ? `https://${projectId}.herokuapp.com` : "http://localhost:3000"
- var root = ""
- var assets_root = "/public/assets"
-
  var pages = {
      top : {
        name : "パパトリ自動エンゲージメント",
        title: "パパトリ自動エンゲージメント",
        description: "パパトリの興味ある分野のツイートを自動でRTしたりfavします",
        keywords: "パパトリ,Pa_Pa_To_Ri,Twitter,自動RT,自動ファボ,RT,retweet,リツイート,ふぁぼ,ファボ,fav,fave"
      },
      job : {
        name : "パパトリ自動エンゲージメント",
        title: "パパトリ自動エンゲージメント",
        description: "パパトリの興味ある分野のツイートを自動でRTしたりfavします",
        keywords: "パパトリ,Pa_Pa_To_Ri,Twitter,自動RT,自動ファボ,RT,retweet,リツイート,ふぁぼ,ファボ,fav,fave"
      }
  }
- var copyright = "Papatori"